.pangio-padding-2px {
    padding: 2px;
}

.pangio-padding-4px {
    padding: 4px;
}

.pangio-padding-6px {
    padding: 6px;
}

.pangio-padding-8px {
    padding: 8px;
}

.pangio-padding-10px {
    padding: 10px;
}

.pangio-padding-12px {
    padding: 12px;
}

.pangio-padding-14px {
    padding: 14px;
}

.pangio-padding-16px {
    padding: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --- Top ---------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
.pangio-padding-top-2px {
    padding-top: 2px;
}

.pangio-padding-top-4px {
    padding-top: 4px;
}

.pangio-padding-top-6px {
    padding-top: 6px;
}

.pangio-padding-top-8px {
    padding-top: 8px;
}

.pangio-padding-top-10px {
    padding-top: 10px;
}

.pangio-padding-top-12px {
    padding-top: 12px;
}

.pangio-padding-top-14px {
    padding-top: 14px;
}

.pangio-padding-top-16px {
    padding-top: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --- Bottom ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
.pangio-padding-bottom-2px {
    padding-bottom: 2px;
}

.pangio-padding-bottom-4px {
    padding-bottom: 4px;
}

.pangio-padding-bottom-6px {
    padding-bottom: 6px;
}

.pangio-padding-bottom-8px {
    padding-bottom: 8px;
}

.pangio-padding-bottom-10px {
    padding-bottom: 10px;
}

.pangio-padding-bottom-12px {
    padding-bottom: 12px;
}

.pangio-padding-bottom-14px {
    padding-bottom: 14px;
}

.pangio-padding-bottom-16px {
    padding-bottom: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --- Left --------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
.pangio-padding-left-2px {
    padding-left: 2px;
}

.pangio-padding-left-4px {
    padding-left: 4px;
}

.pangio-padding-left-6px {
    padding-left: 6px;
}

.pangio-padding-left-8px {
    padding-left: 8px;
}

.pangio-padding-left-10px {
    padding-left: 10px;
}

.pangio-padding-left-12px {
    padding-left: 12px;
}

.pangio-padding-left-14px {
    padding-left: 14px;
}

.pangio-padding-left-16px {
    padding-left: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --- Right ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
.pangio-padding-right-2px {
    padding-right: 2px;
}

.pangio-padding-right-4px {
    padding-right: 4px;
}

.pangio-padding-right-6px {
    padding-right: 6px;
}

.pangio-padding-right-8px {
    padding-right: 8px;
}

.pangio-padding-right-10px {
    padding-right: 10px;
}

.pangio-padding-right-12px {
    padding-right: 12px;
}

.pangio-padding-right-14px {
    padding-right: 14px;
}

.pangio-padding-right-16px {
    padding-right: 16px;
}